@model User

@{
    ViewData["Title"] = "Edit User";
}

<form asp-controller="User" asp-action="Edit" method="post" class="form" enctype="multipart/form-data">
    <script src="https://cdn.ckeditor.com/ckeditor5/11.1.1/classic/ckeditor.js"></script>
    <br />
    <br />
    <span>
        <label class="control-label">Pic</label>
        <input type="file" name="pic" class="" />
    </span>
    <br />
    <br />
    <span>
        <label asp-for="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-control" placeholder="@Model.FirstName" />
        <span asp-validation-for="FirstName"></span>
    </span>

    <span>
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control" placeholder="@Model.LastName" />
        <span asp-validation-for="LastName"></span>
    </span>
    <br />
    <br />
    <span>
        <label asp-for="Bio" class="control-label"></label>
        <textarea asp-for="Bio" class="form-control" placeholder="@Model.Bio"></textarea>
        <span asp-validation-for="Bio"></span>
    </span>
    <br />
    <br />
    <span>
        <label asp-for="EduExp" class="control-label"></label>
        <textarea asp-for="EduExp" class="form-control" rows="10"></textarea>
        <script>
            ClassicEditor
                .create(document.querySelector('#EduExp'), {
                    ckfinder: {
                        uploadUrl: '@Html.Raw(Model.EduExp)'
                    }
                })
                .catch(error => {
                    console.error(error);
                });
        </script>
    </span>
    <br />
    <br />
    <span>
        <label asp-for="JobExp" class="control-label"></label>
        <textarea asp-for="JobExp" class="form-control" rows="10"></textarea>
        <script>
            ClassicEditor
                .create(document.querySelector('#JobExp'), {
                    ckfinder: {
                        uploadUrl: '@Html.Raw(Model.JobExp)'
                    }
                })
                .catch(error => {
                    console.error(error);
                });
        </script>
    </span>


    <input type="submit" class="btn btn-primary" value="Submit" />



    @Html.HiddenFor(x => x.Id)


</form>