@model User

@{
    ViewData["Title"] = "Edit User";
}

<form asp-controller="User" asp-action="Edit" method="post" class="form" enctype="multipart/form-data">

    <span>
        <label class="control-label">Pic</label>
        <input type="file" name="pic" class="" />
    </span>

    <span>
        <label asp-for="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-control" placeholder="@Model.FirstName" />
        <span asp-validation-for="FirstName"></span>
    </span>


    <span>
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control" placeholder="@Model.LastName" />
        <span asp-validation-for="LastName"></span>
    </span>

    <span>
        <label asp-for="Bio" class="control-label"></label>
        <textarea asp-for="Bio" class="form-control" placeholder="@Model.Bio"></textarea>
        <span asp-validation-for="Bio"></span>
    </span>

    <span>
        <label asp-for="EduExp" class="control-label"></label>
        <textarea asp-for="EduExp" class="form-control" placeholder="@Model.EduExp"></textarea>
        <span asp-validation-for="EduExp"></span>
    </span>

    <span>
        <label asp-for="JobExp" class="control-label"></label>
        <textarea asp-for="JobExp" class="form-control" placeholder="@Model.JobExp"></textarea>
        <span asp-validation-for="JobExp"></span>
    </span>


    <input type="submit" class="btn btn-primary" value="Submit" />


    
    @Html.HiddenFor(x => x.Id)


</form>