
@model UserOverviewViewModel

@using Microsoft.AspNetCore.Identity
@using SMP.Models.Entities
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = Model.FullName;
}

<div id="user-index">
    <div class="overview">
        <span><img src="/@Model.PhotoPath" height="200" width="200" /></span>
        <h1>@Model.FullName</h1>
        @if (!ViewBag.UserIsUser)
        {
            @if (ViewBag.isFollowing)
            {
                <form method="post" class="action-btns">
                    <button type="submit" class="btn btn-danger"
                            asp-action="UnfollowUser"
                            asp-controller="Follow"
                            asp-route-userId="@ViewBag.MyUserId"
                            asp-route-followId="@ViewBag.UserId">
                        Unfollow
                    </button>
                </form>

            }
            else
            {
                <form method="post" class="action-btns">
                    <button type="submit" class="btn btn-primary"
                            asp-action="FollowUser"
                            asp-controller="Follow"
                            asp-route-userId="@ViewBag.MyUserId"
                            asp-route-followId="@ViewBag.UserId">
                        Follow
                    </button>
                </form>
            }
            <a class="btn btn-primary" asp-controller="Message" asp-action="Thread" asp-route-oppositeUserId="@ViewBag.UserId">Send Message</a>
        } else
        {
            <a class="btn btn-primary" asp-controller="User" asp-action="Edit" asp-route-id="@ViewBag.UserId">Edit</a>
        }

        <span class="info">Posts: <b>@Model.PostCount</b></span>
        <span class="info">
            <a asp-controller="Follow" asp-action="Followers" asp-route-userId="@Model.UserId">
                <label>Followers</label><b>@Model.FollowerCount</b>
            </a>
        </span>
        <span class="info">
            <a asp-controller="Follow" asp-action="Following" asp-route-userId="@Model.UserId">
                <label>Following</label><b>@Model.FollowingCount</b>
            </a>
        </span>
        <p class="info">
            <h3>Bio</h3>
            <span>@Model.Bio</span>
        </p>
    </div>
    @if (ViewBag.UserIsUser)
    {
        Html.RenderPartial("../Post/Create", new Post() { UserId = Model.UserId });
    }

    <div class="posts">
        @foreach (UserPostViewModel post in ViewBag.Posts)
        {
            <div class="post">
                <h5>@post.Time</h5>
                <p>@post.Text</p>
            </div>
        }
    </div>
</div>