@using Microsoft.AspNetCore.Identity
@using SMP.Models.Entities

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    string name = @UserManager.GetUserAsync(User).Result.FirstName + " " + @UserManager.GetUserAsync(User).Result.LastName;
    string picpath = "/"+@UserManager.GetUserAsync(User).Result.PicturePath;
    <form asp-area="" asp-controller="Home" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li class="username" style="font-size:1.25em;">
                <a asp-area="" asp-controller="User" asp-action="Index" asp-route-id=""><img class="nav-photo" src="@picpath"/><strong>@name</strong></a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link"><i class="fas fa-sign-out-alt"></i></button>
            </li>
        </ul>
    </form>

    //<div class="container body-content">
       // <div align="left">
            //<i class="fa fa-check-circle fa-w-16 fa-3x" style="color:white">@UserManager.GetUserName(User)</i>
        //</div>
   // </div>

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Home" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Login">Log in</a></li>
    </ul>
}
