@model IEnumerable<UserFollowViewModel>
@using SMP.Models.Entities
@{
    ViewData["Title"] = @ViewBag.User.FullName;
}
<div id="followers">
    <div class="overview">
        <h1>@ViewBag.User.FullName</h1>
    </div>
    <section>
        <h3>Followers</h3>
        @foreach (UserFollowViewModel item in Model)
        {
        <article class="follower">
            <h4><a asp-controller="User" asp-action="Index" asp-route-id="@item.UserId">@item.FullName</a></h4>
            @if (item.UserId != ViewBag.Me.Id)
            {
                @if (item.isFollowingBack)
                {
                    <form asp-action="UnfollowUser" asp-controller="Follow" method="post" class="action-btns">
                        <button type="submit" class="btn btn-danger"
                                asp-action="UnfollowUser"
                                asp-route-userId="@ViewBag.Me.Id"
                                asp-route-followId="@item.UserId">
                            Unfollow
                        </button>
                    </form>
                }
                else
                {

                    <form asp-action="FollowUser" asp-controller="Follow" method="post" class="action-btns">
                        <button type="submit" class="btn btn-primary"
                                asp-action="FollowUser"
                                asp-route-userId="@ViewBag.Me.Id"
                                asp-route-followId="@item.UserId">
                            Follow
                        </button>
                    </form>
                }
            }
        </article>
        }
    </section>
</div>